body{
    font-family: sans-serif;
    background-image: url(../img/fundo-01.png);
    background-attachment: fixed;
}
h2,h3,h4,h5,h6{
    color: #192a56;
    text-decoration: underline;
}
h1{
    text-align: center;
    font-style: italic;
    background-color: rgba(11, 66, 24, 0.5)
}
li{
    text-align: justify;
    font-size: 14px;
    line-height: 22px;
}

.passatempo img{
    width: 360px;
    opacity: 0.5;
}

.titulo{
    text-decoration: none;
}

.passatempo video{
    width: 640px;
}
.destaque p{
    font-size: 20px;
    text-align: justify;
    background-color: #A5D6A7;
    color: #000;
    line-height: 25px;
}

.text-form {
    text-align: justify;
    margin: 5px;

}

strong{
    font-size: 30px;
   color: #192a56;
}
em{
    font-style: oblique;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
mark{
    background-color: #FF5722;
    font-weight: bolder;
    font-size: 30px;
}

header{
    background-color: #009688;
    height: 70px;
}

header nav ul li{
    display: inline-block;
    margin-top: 22px;
    margin-right: 50px;
}
header a {
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}
.input-evento:hover{
    background-color: #009688;

}

#textarea-estilo{
    resize: horizontal;
}



header nav  a:hover{
    color: #000;
    background-color: #7f8c8d;
    font-size: 22px;
}

section  img:hover{
    border-radius: 20px;
    opacity: 1;
}

