*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-image: url(../img/fundo-01.png);
    background-attachment: fixed;
}

/*=============== HEADER ================ */
header{
    width: 960px;
    padding: 30px;
    background-color: #009688;
    margin: 20px auto;
    border: 4px dotted #192a56;
}
header nav ul li{
    display: inline-block;
    margin-top: 22px;
    margin-right: 50px;
}
header a {
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}
.input-evento:hover{
    background-color: #009688;

}

header nav  a:hover{
    color: #000;
    background-color: #7f8c8d;
    font-size: 22px;
} 

/*=============== HEADER HOBBIES ================ */
.container-links{
    width: 20%;
    float: left;
    margin: 30px;
}

.container-links nav ul li{
    display: block;
    margin-left: -50px;
    margin-top: 5px;
} 

/* ============ CONTEUDO PRINCIPAL =============== */
.principal{
    display: block;
    width: 960px;
    margin: 0 auto;
    border: 4px dotted #192a56;
    overflow-y: scroll;
    height: -webkit-fill-available;
}
.container-c{
    width: 66%; /* largura do container C (tag semântica main) */
	float: right;
    margin: 30px;
}
.container-c .destaque{
    margin: 20px 14%;
}

.container-c h2{
    text-align: center;
   
}
.container-d h5{
    margin:10px;
   
}
.container-c img{
    margin: 10px 5%;
}
.container-c img:hover{
    
    filter: drop-shadow(1px 1px 3px black) grayscale(100%); /* filter é um atributo que manipula a imagem, semelhante aos do Photoshop. Veja mais alguns tipos em https://www.w3schools.com/cssref/css3_pr_filter.asp */
    -webkit-filter: drop-shadow(1px 1px 3px black) grayscale(100%); /* webkit para ajudar alguns browsers (que não aceitam alguns atributos novos) a exibirem o estilo da maneira esperada, no caso para o Safari 6.0 - 9.0 */
    border-radius: 20px;
}



/* ==============CONTEUDO PRINCIPAL================ */

.principal .img {
    margin: 20px 14%;
    -webkit-transition: all 0.5s ease-in; /* Aqui estamos declarando como queremos que ocorram transições (por exemplo do estado inicial para quando é chamado o hover). */
    -moz-transition: all 0.5s ease-in; /* O primeiro valor são os atributos afetados. All seleciona todos. Também podemos eleger apenas uma propriedade. Ou podemos declarar as propriedades afetadas de forma isolada { transition-property: filter, border-radius; } por exemplo) */
    -ms-transition: all 0.5s ease-in; /* O segundo o tempo, no caso em segundos. Normalmente, para efeitos em botões e elementos de interface, utilizamos valores abaixo de um segundo. */
    transition: all 0.5s ease-in; /* E o terceiro o timing da animação (se será linear, se será acentuado no início, final, em ambos... veja a dica sobre Cubic Bezier,use Control + F para buscá-la nos arquivos do projeto) */
}

section, .redes-sociais, footer{
    width: 960px;
    margin: 20px auto;
    border: 4px dotted #192a56;
    padding: 30px;
    
}
h2,h3,h4,h5,h6{
    color: #192a56;
    text-decoration: underline;
}
h1{
    text-align: center;
    font-style: italic;
    background-color: rgba(11, 66, 24, 0.5)
}
li{
    text-align: justify;
    font-size: 14px;
    line-height: 22px;
}


.destaque p{
    font-size: 20px;
    text-align: justify;
    background-color: #A5D6A7;
    color: #000;
    line-height: 25px;
}



strong{
    font-size: 30px;
   color: #192a56;
}
em{
    font-style: oblique;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
mark{
    background-color: #FF5722;
    font-weight: bolder;
    font-size: 30px;
   
}

.dados-pessoais{
    background-color: #B39DDB;
}

.formacao{
    background-color: #80DEEA;
}

.experiencia-profissional{
    background-color: #FFCC80;
}
.conhecimentos{
    background-color: #A3CB38;
}

/* =================FOOTER ==================*/
footer{
    height: 100px;
    background-color: #009688;
    margin-bottom: 0;
    text-align: center;
}
footer h5{
    text-decoration: none;
     
}
.redes-sociais{
    text-align: center;
    background-color: #C5CAE9;
}
button{
    margin: 32px 0 0 40px;
    background-color: #FF5722;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-top: -8px;
}
button a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

/* ================= FORMULÁRIO ================== */
.input-evento{
    display: block;
}

label{
    font-size: 18px;
    font-weight: bold;
}
fieldset{
    margin: 10px;
}
textarea{
    resize: both;
    font-weight: bold;
}